# --- DAFTAR FILE YANG DILARANG UPLOAD ---

# 1. Folder Sampah (Berat & Bisa di-install ulang)
node_modules/
backend/node_modules/
api/node_modules/

# 2. File Kunci Rahasia (SANGAT PENTING!)
serviceAccountKey.json
backend/serviceAccountKey.json
api/serviceAccountKey.json
.env

# 3. File Sistem (Junk)
.DS_Store
Thumbs.db